.command-category {
    margin-bottom: 2.5rem;
}

.command-category h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--button-bg);
}

.commands-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.command-card {
    text-align: left;
    background-color: var(--bg-color-2);
    border: 1px solid var(--button-bg);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 10;
    box-shadow: 0 8px 17px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease;
}

.command-card:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.command-header {
    background-color: var(--button-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.command-card h3 {
    font-size: 1.2rem;
    margin: 0;
    color: var(--button-text);
}

.copy-button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--button-text);
    transition: opacity 0.3s ease;
}

.copy-button:hover {
    opacity: 0.5;
}

.command-card p {
    padding-inline: 1rem;
    font-size: 0.9rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.command-details {
    padding-inline: 1rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-color-2);
}


.command-details strong {
    color: var(--text-color);
}

.back-to-top-button {
    position: fixed;
    bottom: -70px;
    right: 70px;
    z-index: 100;
    width: 70px;
    height: 70px;
    outline: none;
    background-color: var(--bg-color);
    border: 1px solid var(--button-bg);
    color: var(--text-color);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom 0.3s, background-color 0.2s ease;
}

.back-to-top-button:hover {
    background-color: var(--button-bg);
}

.back-to-top-button.show {
    bottom: 70px;
}


@media (max-width: 1200px) {
    .commands-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .commands-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .container {
        padding: 0;
    }

    .commands-grid {
        grid-template-columns: 1fr;
    }

    .back-to-top-button {
        right: 50%;
        transform: translateX(50%);
    }
}