.command-category {
    margin-bottom: 2.5rem;
}

.command-category h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--button-bg);
}

.container {
    justify-content: unset;
}

.commands-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.command-card {
    text-align: left;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 10;
    box-shadow: 0 8px 17px rgba(0, 0, 0, 0);
    transition: all 0.3s ease;
}

.command-card:hover {
    border: 1px solid var(--button-bg);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.command-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    padding-top: 1rem;
}

.command-card h3 {
    font-size: 1.2rem;
    margin: 0;
    color: var(--text-color);
}

.copy-button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    transition: opacity 0.3s ease;
}

.copy-button:hover {
    opacity: 0.5;
}

.command-card p {
    padding-inline: 1rem;
    font-size: 0.9rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    flex-grow: 1;
    padding: 1rem;
    margin: 0;
}

.command-details {
    padding-block: 1rem;
    border-top: 1px solid var(--border-color);
    font-size: 0.8rem;
    color: var(--text-color-2);
}

.command-details strong {
    color: var(--text-color);
}


.command-details p {
    padding-block: 0.2rem !important;
    line-height: 1.7rem;
}

code {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.3rem;
    border-radius: 10px;
}

.search-container {
    box-shadow: 0 8px 17px rgba(0, 0, 0, 0);
    display: flex;
    margin-bottom: 2rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#searchInput {
    flex-grow: 1;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 20px 0 0 20px;
    outline: none;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}

::placeholder,
::-ms-input-placeholder {
    color: var(--text-color);
}

.search-container:hover #searchInput,
.search-container:hover #searchButton,
.search-container:focus-within #searchInput,
.search-container:focus-within #searchButton {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.search-container:focus-within #searchInput,
.search-container:focus-within #searchButton {
    background-color: var(--button-bg);
    color: var(--button-text);
    border-color: var(--button-bg);
}

.search-container:focus-within ::-ms-input-placeholder,
.search-container:focus-within ::placeholder {
    color: var(--text-color);
    opacity: 1;
}

#searchButton {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 0.6rem;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    transition: all 0.3s ease;
}

#searchButton:hover {
    background-color: #6d5c55;
    color: var(--bg-color-2)
}

body.dark-theme #searchButton:hover {
    color: var(--text-color);
}


#categorySelector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.category-button {
    font-family: 'Codec Pro', sans-serif;
    display: inline-flex;
    align-items: center;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 8px 17px rgba(0, 0, 0, 0.0);
    color: var(--text-color);
    padding: 0.5rem;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

button:disabled,
button[disabled] .command-count {
    color: var(--border-color);
}

button:disabled:hover,
button[disabled]:hover .command-count {
    color: var(--border-color);
}

h2 {
    border: 1px solid var(--border-color);
    border-radius: 15px;
    color: var(--text-color) !important;
}

.category-button .command-count {
    position: absolute;
    left: 0.20rem;
    width: 24px;
    height: 24px;
    border-radius: 15px;
    color: var(--text-color);
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.category-button .category-name {
    flex-grow: 1;
    text-align: center;
    padding: 0 0.5rem 0 2rem;
}

.category-button:hover,
.category-button.active {
    border-color: var(--button-bg);
    background-color: var(--button-bg);
    color: var(--button-text);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.category-button:hover .command-count,
.category-button.active .command-count {
    color: var(--button-text);
}


.commands-grid {
    display: grid;
    width: 1160px;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.command-card {
    display: flex;
    flex-direction: column;
}

.back-to-top-button {
    position: fixed;
    bottom: -70px;
    right: 70px;
    z-index: 100;
    width: 70px;
    height: 70px;
    outline: none;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.back-to-top-button:hover {
    background-color: var(--button-bg);
    border-color: var(--button-bg);
}

.back-to-top-button.show {
    bottom: 70px;
}

@media (max-width: 1200px) {
    .commands-grid {
        width: unset;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .commands-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {

    .category-button .command-count {
        left: 0.35rem;
        width: 20px;
        height: 20px;
        font-size: 0.7rem;
    }

    .category-button .category-name {
        font-size: 0.9rem;
    }

    .container {
        padding: unset;
    }

    .commands-grid {
        grid-template-columns: 1fr;
        overflow: hidden;
        padding: 1rem;
    }


    .back-to-top-button {
        background-color: transparent;
        backdrop-filter: blur(10px);
        right: 50%;
        transform: translateX(50%);
    }
}